h1{
    font-size: 7em;
}
h3{
    font-size: 4em;
}
p{
    font-size: 3em;
}
nav{
    text-align: right;
}
#id{
    justify-content: space-between;
}
#qualification{
    justify-content: space-between;
}