body{
    background-color: beige;
}
h1{
    font-size: 7em;
}
h3{
    font-size: 4em;
}
nav{
    font-size: 2em;
    text-align: right;
}
header{
    display: flex;
    justify-content: space-evenly;
}
#Background{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#info{
    margin-right: 20px;
    padding: 30px;
}
#qualification{
    align-items: center;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}
#ProfilePic{
    width: 800px;
    height: auto;
}
#ProjectList{
    font-size: 2em;
    justify-content: space-evenly;
}
#Logo{
    height: 500px;
    width: auto;
}
#Project{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Project img, #Project a, #Project p{
    padding: 40px;
}