body{
    background-color: rgb(20,20,20);
    margin: 60px;
}
h1{
    font-size: 7em;
    color: rgb(200, 200, 200);
}
h3{
    font-size: 4em;
    color: rgb(200, 200, 200);
}
nav{
    font-size: 2em;
    text-align: right;
}
ul{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-evenly;
}
#Background{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#ProfilePic{
    width: 35vw;
    height: auto;
}
#info{
    color: rgb(200, 200, 200);
    margin-right: 20px;
    padding: 30px;
}
#qualification{
    color: rgb(200, 200, 200);
    align-items: center;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}
#ProjectList{
    color: rgb(200, 200, 200);
    font-size: 2em;
    justify-content: space-evenly;
}
#T4T{
    content: url(Images/TombforTwo.JPG);
    text-indent: -9999px;
    height: 500px;
    width: auto;
}
#NighttailChronicles{
    content: url(Images/NighttailChroniclesLogo.JPG);
    text-indent: -9999px;
    height: 500px;
    width: auto;
}
#Labyrinth{
    content: url(Images/LabyrinthLogo.JPG);
    text-indent: -9999px;
    height: 500px;
    width: auto;
}
#KnightbyKnight{
    content: url(Images/KnightbyNight.JPG);
    text-indent: -9999px;
    height: 500px;
    width: auto;
}
#BoxPark{
    content: url(Images/BoxParkLogo.JPG);
    text-indent: -9999px;
    height: 500px;
    width: auto;
}
#Project{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Project p{
    padding: 40px;
    font-size: 2rem;
    min-font-size: 1rem;
    max-font-size: 3rem;
}

@media (max-width: 600px) {
    body{
        background-color: rgb(20,20,20);
        margin: 20px;
    }
    h1{
        font-size: 3em;
        color: rgb(200, 200, 200);
    }
    h3{
        font-size: 2em;
        color: rgb(200, 200, 200);
    }
    h5{
        font-size:10px;
        color:rgb(200,200,200);
    }
    ul li{
         font-size:8px;
    }
    nav{
        font-size: 1em;
        text-align: right;
    }
    ul{
        list-style: none;
    }
    p{
        font-size: 6px;
    }
    #Background{
        font-size: 10px;
        display: grid;
        align-items: center;
        justify-content:space-evenly;
    }
    #ProfilePic{
        align-items: center;
        width: 100vw;
        height: auto;
    }
    #info{
        color: rbg(200,200,200);

    #qualification{
        color: rgb(200, 200, 200);
        align-items: center;
        font-size: 10px;
        display: grid;
        justify-content: space-evenly;
    }
    #T4T{
        content: url(Images/TombforTwo.JPG);
        text-indent: -9999px;
        height: auto;
        width: 100vw;
    }
    #NighttailChronicles{
        content: url(Images/NighttailChroniclesLogo.JPG);
        text-indent: -9999px;
        height: auto;
        width: 100vw;
    }
    #Labyrinth{
        content: url(Images/LabyrinthLogo.JPG);
        text-indent: -9999px;
        height: auto;
        width: 100vw;
    }
    #KnightbyKnight{
        content: url(Images/KnightbyNight.JPG);
        text-indent: -9999px;
        height: auto;
        width: 100vw;
    }
    #BoxPark{
        content: url(Images/BoxParkLogo.JPG);
        text-indent: -9999px;
        height: auto;
        width: 100vw;
    }
    #Project{
        margin: 10px;
        display: grid;
        align-items: center;
        justify-content:space-evenly;
    }
    #ProjectInfo{
        font-size: 6px;
    }
}
